html,
body {
  margin: 0;
  padding: 0;
  overflow-x: initial;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
